.App {
  background-color: #ddd;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.canvas-wrapper {
  margin: 20px;
  border-style: solid;
  border-color: black;
  width: 900px;
  height: 900px;
}

canvas {
  width: 900px;
  height: 900px;
}